.header{
    height: 6em;
    padding: 3em;
    font-size: 2em;
    background-image: url("../imgs/seccion1.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;

}

h1 {
    margin: 0px;
    padding-top: 0%;
}
h2{
    margin:0px;
    font-size: 20px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
    border: solid 1px #ddd;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(245, 149, 197);
    color: white;
    text-align: center;
    font-weight: 900;
}